// Footer
footer.footer
    .container
        .row
            // Footer Column
            .col-lg-3.footer_column
                .footer_col
                    .footer_content.footer_about
                        .logo_container.footer_logo
                            .logo
                                a(href='#')
                                    img(src='images/logo.png', alt='')
                                    | travelix
                        p.footer_about_text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis vu lputate eros, iaculis consequat nisl. Nunc et suscipit urna. Integer eleme ntum orci eu vehicula pretium.
                        ul.footer_social_list
                            li.footer_social_item
                                a(href='#')
                                    i.fa.fa-pinterest
                            li.footer_social_item
                                a(href='#')
                                    i.fa.fa-facebook-f
                            li.footer_social_item
                                a(href='#')
                                    i.fa.fa-twitter
                            li.footer_social_item
                                a(href='#')
                                    i.fa.fa-dribbble
                            li.footer_social_item
                                a(href='#')
                                    i.fa.fa-behance
            // Footer Column
            .col-lg-3.footer_column
                .footer_col
                    .footer_title blog posts
                    .footer_content.footer_blog
                        // Footer blog item
                        .footer_blog_item.clearfix
                            .footer_blog_image
                                img(src='images/footer_blog_1.jpg', alt='https://unsplash.com/@avidenov')
                            .footer_blog_content
                                .footer_blog_title
                                    a(href='blog.html') Travel with us this year
                                .footer_blog_date Nov 29, 2017
                        // Footer blog item
                        .footer_blog_item.clearfix
                            .footer_blog_image
                                img(src='images/footer_blog_2.jpg', alt='https://unsplash.com/@deannaritchie')
                            .footer_blog_content
                                .footer_blog_title
                                    a(href='blog.html') New destinations for you
                                .footer_blog_date Nov 29, 2017
                        // Footer blog item
                        .footer_blog_item.clearfix
                            .footer_blog_image
                                img(src='images/footer_blog_3.jpg', alt='https://unsplash.com/@bergeryap87')
                            .footer_blog_content
                                .footer_blog_title
                                    a(href='blog.html') Travel with us this year
                                .footer_blog_date Nov 29, 2017
            // Footer Column
            .col-lg-3.footer_column
                .footer_col
                    .footer_title 标签
                    .footer_content.footer_tags
                        ul.tags_list.clearfix
                            li.tag_item
                                a(href='#') design
                            li.tag_item
                                a(href='#') fashion
                            li.tag_item
                                a(href='#') music
                            li.tag_item
                                a(href='#') video
                            li.tag_item
                                a(href='#') party
                            li.tag_item
                                a(href='#') photography
                            li.tag_item
                                a(href='#') adventure
                            li.tag_item
                                a(href='#') 旅行
            // Footer Column
            .col-lg-3.footer_column
                .footer_col
                    .footer_title contact info
                    .footer_content.footer_contact
                        ul.contact_info_list
                            li.contact_info_item.d-flex.flex-row
                                div
                                    .contact_info_icon
                                        img(src='images/placeholder.svg', alt='')
                                .contact_info_text 4127 Raoul Wallenber 45b-c Gibraltar
                            li.contact_info_item.d-flex.flex-row
                                div
                                    .contact_info_icon
                                        img(src='images/phone-call.svg', alt='')
                                .contact_info_text 2556-808-8613
                            li.contact_info_item.d-flex.flex-row
                                div
                                    .contact_info_icon
                                        img(src='images/message.svg', alt='')
                                .contact_info_text
                                    a(href='mailto:contactme@gmail.com?Subject=Hello', target='_top') contactme@gmail.com
                            li.contact_info_item.d-flex.flex-row
                                div
                                    .contact_info_icon
                                        img(src='images/planet-earth.svg', alt='')
                                .contact_info_text
                                    a(href='https://colorlib.com') www.colorlib.com
// Copyright
.copyright
    .container
        .row
            .col-lg-3.order-lg-1.order-2
                .copyright_content.d-flex.flex-row.align-items-center
                    div
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
                        | Copyright ©
                        script.
                            document.write(new Date().getFullYear());
                        |  All rights reserved | This template is made with 
                        i.fa.fa-heart-o(aria-hidden='true')
                        |  by 
                        a(href='https://colorlib.com', target='_blank') Colorlib
                        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
            .col-lg-9.order-lg-2.order-1
                .footer_nav_container.d-flex.flex-row.align-items-center.justify-content-lg-end
                    .footer_nav
                        ul.footer_nav_list
                            li.footer_nav_item
                                a(href='#') home
                            li.footer_nav_item
                                a(href='about.html') about us
                            li.footer_nav_item
                                a(href='offers.html') offers
                            li.footer_nav_item
                                a(href='blog.html') news
                            li.footer_nav_item
                                a(href='contact.html') contact
